<%- include('../admin/layout/admin-header-layout.ejs') -%>

  <div class="col-lg">
    <div class="card">
      <div class="card-body">
        <div style="display: flex; justify-content: space-between;">
          <h5 class="card-title">Users</h5>

        </div>

        <div class="table-responsive">
          <table id="userSearch" class="table table-hover ">
            <thead>
              <tr>
                <th scope="col">#</th>

                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user,gogul){ %>
                <tr>
                  <th scope="row">
                    <%= gogul+1%>
                  </th>

                  <td>
                    <%= user.userName %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <%= user.phone %>
                  </td>

                  <td>
                    <% if (user.status=="Blocked" ) { %>
                      <form action="/admin/unblockUser/<%= user._id %> " method="post">
                        <button type="submit" class="btn btn-success" style="width: 100px;"> UnBlock</button>
                      </form>
                      <% } else { %>
                        <form action="/admin/blockUser/<%= user._id %> " method="post">
                          <button type="submit" class="btn btn-danger" style="width: 100px;">
                            Block</button>
                        </form>
                        <% } %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('../admin/layout/admin-footer-layout.ejs') -%>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script>
  $(document).ready(function() {
  $('#userSearch').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>