<%- include('../user/layout/user-header.ejs') -%>




    <!-- Featured End -->


    <!-- Categories Start -->
    <div class="container-fluid ">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-2"><span class="bg-secondary pr-3">Hi
                <%=user.userName%></span></h2>
        <div class="row px-xl-5 pb-3">
            <h3 class="font-weight-semi-bold m-0  mb-5" style="text-align: center;">Personal Information</h3>

            <div class="container-fluid ">
                <div class="row px-xl-5 pb-3">
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                            <h5 class="fa fa-check text-success m-0 mr-3">User Name:</h5>
                            <h5 class="font-weight-semi-bold m-0">
                                <%=user.userName%>
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                            <h5 class="fa fa-shipping-fast text-success m-0 mr-2">Email: </h5>
                            <h5 class="font-weight-semi-bold m-0">
                                <%=user.email%>
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1 ">
                        <div class="d-flex align-items-center bg-light mb-4 " style="padding: 30px;">
                            <h5 class="fas fa-exchange-alt text-success m-0 mr-3">Mob Number:</h5>
                            <h5 class="font-weight-semi-bold m-0">
                                <%=user.phone%>
                            </h5>
                        </div>
                    </div>

                </div>
            </div>




            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/orders">
                    <div class="cat-item d-flex align-items-center mb-4">

                        <div class="overflow-hidden " style="width: 100px; height: 100px;">
                            <h1 class="fa fa-shipping-fast mt-4 ml-4"></h1>
                        </div>
                        <div class="flex-fill pl-3">
                            <h5>Your Order</h5>
                            <small class="text-body"></small>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="/address-page/<%= user._id %>">
                    <div class="cat-item d-flex align-items-center mb-4">

                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <h1 class="fa fa-globe mt-4 ml-4"></h1>
                        </div>
                        <div class="flex-fill pl-3">
                            <h5>Address </h5>
                            <small class="text-body"></small>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalCenter">
                    <div class="cat-item d-flex align-items-center mb-4">

                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <h1 class="fa fa-wallet mt-4 ml-4"></h1>
                        </div>
                        <div class="flex-fill pl-3">
                            <h5>Balance </h5>
                            <small class="text-body"></small>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none" href="" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@getbootstrap">

                    <div class="cat-item d-flex align-items-center mb-4">

                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <h1 class="fa fa-user-edit mt-4 ml-4"></h1>
                        </div>
                        <div class="flex-fill pl-3">
                            <h5>Edit Profile </h5>
                            <small class="text-body"></small>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>






    <!-- Categories End -->


    <!-- Products Start -->



    <!-- Offer Start -->
    <!-- <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="img/offer-1.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="img/offer-2.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Offer End -->




    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/changeData" role="form" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">User Name:</label>
                            <input type="text" value="<%=user.userName%>" class="form-control" id="recipient-name"
                                name="name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email:</label>
                            <input type="text" value="<%=user.email%>" class="form-control" id="recipient-name"
                                name="email">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Mobile Number:</label>
                            <input type="text" value="<%=user.phone%>" class="form-control" id="recipient-name"
                                name="phone">
                        </div>
                        <input type="text" value="<%=user._id%>" class="form-control" id="recipient-name" name="id"
                            hidden>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                    </form>
                </div>


            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="align-items-center modal-content">
                <div class=" modal-header">
                    <h5 class=" modal-title text-dark " id="exampleModalCenterTitle">ECHO MONEY</h5>


                    </button>
                </div>
                <div class="modal-body">
                    <h4 class=" modal-title text-success ">Coming Soon !!!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



    <%- include('../user/layout/user-footer.ejs') -%>